{% extends 'index.html' %}
{% load static %}
{%block content%}
<section class="registration">
    <div class="edit_profile_block">
        <div class="edit_profile_btn_title">
            <a href="{% url 'profile' object.pk %}" class="edit_profile_btn">←</a>
            <h2>Редактирование профиля</h2>
        </div>

        <form method="post" enctype="multipart/form-data" class="edit_profile_form">
            {% csrf_token %}

            <input class="edit_profile_form_item" type="text" name="last_name" placeholder="Фамилия" value="{{ form.last_name.value }}" >
            <input class="edit_profile_form_item" type="text" name="first_name" placeholder="Имя" value="{{ form.first_name.value }}" >
            <input class="edit_profile_form_item" type="text" name="otchestvo" placeholder="Отчество (необязательно)" value="{{ form.otchestvo.value }}">
            <input class="edit_profile_form_item" type="date" name="date_birthday" value="{{ form.date_birthday.value|default:''|date:'Y-m-d' }}">
            <input class="edit_profile_form_item registration_form_item_phone" type="tel" name="phone" placeholder="+7(___)___-__-__" value="{{ form.phone.value }}" >
            <input class="edit_profile_form_item" type="email" name="email" placeholder="Email" value="{{ form.email.value }}" >
            <textarea class="edit_profile_form_item add_review_form_item description" name="description" placeholder="о себе"></textarea>
            <input class="edit_profile_form_item password_old" type="password" name="old_password" placeholder="Старый пароль" minlength="8">
            <input class="edit_profile_form_item password_new" type="password" name="new_password1" placeholder="Новый пароль" minlength="8">
            <input class="edit_profile_form_item password_replay" type="password" name="new_password2" placeholder="Повторите пароль" minlength="8">
            <fieldset class="edit_profile_form_file">
                <legend>Изменить фото профиля</legend>
                <div class="edit_profile_form_title_img">
                    <div class="mb-3">
                        <input class="form-control edit_profile_form_item_file" type="file" name="avatar">
                    </div>
                </div>
            </fieldset>

            <input class="registration_form_item registration_form_item_btn" type="submit" value="Сохранить">
        </form>
    </div>
</section>
{%endblock%}

