{% extends 'index.html' %}
{% load static %}

{% block content %}
<section class="registration">
    <div class="registration_block">
        <div class="registration_btn_title">
            <h2>Восстановление аккаунта</h2>
        </div>
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="activation-message">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="modal-footer">
            <a href="{% url 'login' %}" class="btn btn-primary profile_modal_btn_primary">Вернуться к входу</a>
        </div>
    </div>
</section>
{% endblock %}