{% extends 'index.html' %}
{% load static %}

{% block content %}
<section class="registration">
    <div class="registration_block">
        <div class="registration_btn_title">
            <a href="{% url 'event_list' %}" class="registration_btn">←</a>
            <h2>Регистрация</h2>
        </div>
        {% if form.errors %}
            <div class="messages">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p class="add_review_star_error" style="visibility: visible;">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <p class="add_review_star_error" style="visibility: visible;">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <form method="post" class="registration_form">
            {% csrf_token %}
            <input class="registration_form_item" type="text" name="first_name" placeholder="Имя" value="{{ form.first_name.value|default:'' }}" required>
            <input class="registration_form_item" type="text" name="last_name" placeholder="Фамилия" value="{{ form.last_name.value|default:'' }}" required>
            <input class="registration_form_item" type="text" name="otchestvo" placeholder="Отчество (необязательно)" value="{{ form.otchestvo.value|default:'' }}">
            <input class="registration_form_item" type="date" name="date_birthday" value="{{ form.date_birthday.value|default:''|date:'Y-m-d' }}">
            <input class="registration_form_item" type="tel" name="phone" placeholder="+7 (___) ___-__-__" value="{{ form.phone.value|default:'' }}" required>
            <input class="registration_form_item" type="email" name="email" placeholder="Email" value="{{ form.email.value|default:'' }}" required>
            <input class="registration_form_item" type="password" name="password1" placeholder="Пароль" minlength="8" required>
            <input class="registration_form_item" type="password" name="password2" placeholder="Повторите пароль" minlength="8" required>
            <input class="registration_form_item registration_form_item_btn" type="submit" value="Зарегистрироваться">
        </form>
    </div>
</section>
{% endblock %}