{%load static%}
<!DOCTYPE html>

<html lang="en">
    <head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eventManager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

    <script src="https://api-maps.yandex.ru/v3/?apikey=97a85acd-ba8a-4b10-b1a1-8a55ae3b2fc7" type="text/javascript">
    </script>
        
    </head>
<body>
    <header class="header">
        <div class="header_logo">
            <img src="{% static 'img/logo_img.png' %}" alt="logo" class="logo">
        </div>
        <div class="header_func">
            <form action="" method="get" class="header_func_search">
                <input type="text" class="search" placeholder="searh">
                <input type="button" class="header_btn_search">
            </form>
            <a href="#" class="header_func_add_event"></a>
            <div class="header_func_user">
                <a class="header_func_user_sign_in">войти</a>
                <a class="header_func_user_signout highlight_text">регистрация</a>
            </div>

            <div class="header_func_menu">
                <div class="header_func_burger">
                    <img src="{% static 'img/burger.png' %}" alt="burger" class="burger">
                </div>
                <ul class="header_func_menu_items">
                    <li class="header_func_menu_item"><a href="#">Профиль</a></li>
                    <li class="header_func_menu_item"><a href="#">Главная</a></li>
                    <li class="header_func_menu_item"><a href="#">Мои мероприятия</a></li>
                    <li class="header_func_menu_item"><a href="#">Запланированные мероприятия</a></li>
                    <li class="header_func_menu_item"><a href="#">Выйти</a></li>
                </ul>
            </div>
        </div>
</header>
<main>
    <section class="create_event">
        <div class="create_event_block">
            <div class="create_event_btn_title">
                <a href="{% url 'event_detail' event.id %}" class="create_event_btn">←</a>
                <h2>Редактирование мероприятия</h2>
            </div>
            
            <form method="post" class="create_event_form" enctype="multipart/form-data">


                {% csrf_token %}

                <input class="create_event_form_item" type="text" name="title" placeholder="Название мероприятия" value="{{ event.title }}"  >

                <select class="create_event_form_category" name="category"  >
                    <option value="" disabled>Выберите категорию</option>
                    {% for category in categories %}
                        <option value="{{ category.id }}" {% if event.category.id == category.id %}selected{% endif %}>{{ category.title }}</option>
                    {% endfor %}
                </select>

                <div class="create_event_form_format_count">
                    <select class="create_event_form_format" name="event_format"   onchange="toggleAddressField()">
                        <option value="Online" {% if event.event_format == "Online" %}selected{% endif %}>Онлайн</option>
                        <option value="Offline" {% if event.event_format == "Offline" %}selected{% endif %}>Оффлайн</option>
                    </select>

                    <input class="create_event_form_item number_of_participants" type="number" name="participants_limit" min="1" value="{{ event.participants_limit }}"  >
                </div>

                <div class="create_event_form_registration_type">
                    <fieldset class="create_event_form_registration_type_cheked">
                        <legend>Регистрация</legend>
                        <label><input type="radio" name="registration_status" value="true" {% if event.registration_status %}checked{% endif %}> Обязательна</label>
                        <label><input type="radio" name="registration_status" value="false" {% if not event.registration_status %}checked{% endif %}> Не обязательна</label>
                    </fieldset>
                </div>

                <input class="create_event_form_item" type="number" name="age_limit" min="0" max="120" value="{{ event.age_limit }}"  >

                <div class="create_event_form_dateStart_dateEnd">
                    <input class="create_event_form_item" type="datetime-local" name="date_start"  value="{{ event.date_start|date:'Y-m-d\TH:i' }}"  >
                    <input class="create_event_form_item" type="datetime-local" name="date_end" value="{{ event.date_end|date:'Y-m-d\TH:i' }}">
                </div>

                <input id="city" value="{{ event.city }}" class="create_event_form_item create_event_form_item_city" type="text" name="city" placeholder="город" >

                <div id="offline-address" {% if event_format == "Online" %}style="display: none;"{% endif %}>
                    
                    <input value="{{ form.location_offline.value|default_if_none:'' }}" class="create_event_form_item create_event_form_item_adress" type="text" name="{{ form.location_offline.name }}" placeholder="Адрес мероприятия" style="width: 100%;">
                </div>
                
                <!-- Поле для онлайн-ссылки -->
                <div id="online-address" {% if event_format == "Offline" %}style="display: none;"{% endif %}>
                    <input value="{{ form.location_online.value|default_if_none:'' }}" class="create_event_form_item create_event_form_item_url" type="text" name="{{ form.location_online.name }}" placeholder="Ссылка на мероприятие" style="width: 100%;">
                </div>


                <textarea class="create_event_form_item create_event_form_description" name="description" rows="10" placeholder="описание">{{ event.description }}  </textarea>
                
                <fieldset class="create_event_form_file">
                    <legend>Главное изображение</legend>
                    <input class="form-control mb-3" type="file" name="main_photo">
                    {% if event.main_photo %}
                        <div class="text-center mt-2 position-relative">
                            <img src="{{ event.main_photo.url }}" alt="Главное изображение" class="img-thumbnail" style="max-width: 300px; max-height: 200px; object-fit: cover;">
                            <button type="button" class="position-absolute" 
                            style="top: -5px; right: 0px; font-size: 24px; width: 32px; height: 32px; color: black; background: none; border: none;" 
                                    onclick="removeMainImage()" title="Удалить">×</button>
                        </div>
                    {% endif %}
                    <!-- Скрытое поле для отслеживания удаления главного изображения -->
                    <input type="hidden" name="remove_main_photo" id="remove_main_photo" value="false">
                </fieldset>
                
                <fieldset class="create_event_form_file create_event_form_file2 mt-4">
                    <legend>Дополнительные изображения</legend>
                    <input class="form-control mb-3" type="file" name="event_images" multiple>
                    
                    {% if images %}
                        <div class="mt-3">
                            <div class="row g-2" id="additional-images-container">
                                {% for image in images %}
                                    <div class="col-6 col-md-4 col-lg-3 image-item" data-image-id="{{ image.id }}">
                                        <div class="position-relative">
                                            <img src="{{ image.image.url }}" alt="Доп. изображение" class="img-thumbnail" style="width: 100%; height: 120px; object-fit: cover;">
                                            <button type="button" class="position-absolute" 
                                            style="top: -5px; right: 0px; font-size: 24px; width: 32px; height: 32px; color: black; background: none; border: none;" 
                                            onclick="removeImage(this, '{{ image.id }}')" 
                                            title="Удалить">
                                            ×
                                            </button>
                                           
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <!-- Скрытое поле для хранения ID изображений, которые нужно удалить -->
                    <input type="hidden" name="images_to_remove" id="images_to_remove" value="">
                </fieldset>
<div></div>

                <button type="submit" class="create_event_form_item create_event_form_btn"  value="Сохранить" onMouseOver="this.style.backgroundColor='#bd84ff'" onMouseOut="this.style.backgroundColor ='#8b4ad4'" style="background-color: #8b4ad4;">Сохранить</button>
                </form>

        </div>
    </section>
</main>

<footer class="footer">
    <div class="footer_content">
        <ul class="footer_link">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Реклама</a></li>
            <li><a href="#">Помощь</a></li>
            <li><a href="#">Задать вопрос</a></li>
        </ul>
    </div>
</footer>

<script>
    function toggleAddressField() {
    let format = document.querySelector("select[name='event_format']").value;

    let offlineInput = document.querySelector("input[name='location_offline']");
    let onlineInput = document.querySelector("input[name='location_online']");
    let cityInput = document.querySelector("input[name='city']");  // Исправлено: имя поля 'city'

    if (format === "Offline") {
        document.getElementById("offline-address").style.display = "block";
        document.getElementById("city").style.display = "block";
        document.getElementById("online-address").style.display = "none";
        onlineInput.value = "";  // Очищаем скрытое поле
    } else {
        document.getElementById("offline-address").style.display = "none";
        document.getElementById("city").style.display = "none";
        document.getElementById("online-address").style.display = "block";
        offlineInput.value = "";  // Очищаем скрытое поле
        cityInput.value = "";  // Очищаем поле города
    }
}
let imagesToRemove = [];

    // Функция для удаления дополнительного изображения
    function removeImage(button, imageId) {
        // Находим родительский элемент (колонку) и удаляем его
        const imageItem = button.closest('.image-item');
        if (imageItem) {
            imageItem.remove();
            
            // Добавляем ID изображения в массив для удаления
            imagesToRemove.push(imageId);
            
            // Обновляем скрытое поле с ID изображений для удаления
            document.getElementById('images_to_remove').value = imagesToRemove.join(',');
        }
    }

    // Функция для удаления главного изображения
    function removeMainImage() {
        // Скрываем изображение и родительский контейнер
        const imageContainer = document.querySelector('.create_event_form_file .position-relative');
        if (imageContainer) {
            imageContainer.style.display = 'none';
            
            // Устанавливаем значение скрытого поля в true, чтобы удалить главное изображение
            document.getElementById('remove_main_photo').value = 'true';
        }
    }

    // Инициализация при загрузке страницы
    window.onload = function() {
        toggleAddressField();
        document.querySelector("select[name='event_format']").addEventListener("change", toggleAddressField);
    };
</script>
</body>
</html>
